extends layout
block content
  div(class="container" id="Cool" ng-app="mainApp" ng-controller="formController")
     h2= title
     a(href="/users/index") Home 
     &nbsp;&nbsp;|&nbsp;&nbsp;
     a(href="/users/add") Add User
     div.response 
     form(ng-submit="updateInfo()")
        input(type='text', name='name', value='', placeholder='Name' ng-model="name")
        input(type='text', name='email', value='', placeholder='Email' ng-model="email")
        input(type='submit', value='{{btname}}' ng-bind="btname")
  script(type="text/javascript").
   var data=!{JSON.stringify(data)};
   var mainApp = angular.module("mainApp", []);
   if(data != ""){
     mainApp.controller("formController", function($scope, $http) {
       $scope.name = data[0].name;
       $scope.email = data[0].email;
       $scope.btname = "Update";
       $scope.updateInfo = function(){
          var request = $http.put('/users/update/', {name: $scope.name, email: $scope.email, id: data[0].id});
          request.success(function (data) {
           console.log(data);
             if(data.status == 1){
             $(".response").show('slow', function(){ $(this).addClass('alert alert-success').html(data.msg); });
           }else{
             $(".response").show('slow', function(){ $(this).addClass('alert alert-warning').html(data.msg); });
           }
          });
          request.error(function(serverResponse, status, headers, config) {
           alert("failure");
        });
       }
     });
   }